@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f0ffff;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


.container {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);        
    justify-content: space-between;  
}

.cabecalho {
    padding: 2% 0 0 24%;
}

.cabecalho__menu {
    display: flex;
    gap: 5rem;
}

.cabecalho__menu__links {
    font-family: var(--fonte-secundaria);
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3.125rem;   
    gap: 82px;
}

.apresentacao__conteudo {
    margin-left: 24%;
    width: 26.875rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.625rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
}

.apresentacao__conteudo__titulo__strong{
    color: var(--cor-terciaria);
    border: 3px, solid,  var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    margin-top: 0.625rem;
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__conteudo__texto__habilidades{
    color: var(--cor-secundaria);
}

.apresentacao__foto{
    width: 19.5rem;
    padding: 0.9375rem;
    display: block;
    margin: 0 auto;
    margin-right: 23%; 
    margin-bottom: 8%;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}


.apresentacao__links__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 50%;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1.125rem;
    padding: 0.625rem 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    border: 0.125rem solid var(--cor-terciaria);
    margin: 0.625rem 0;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}

.rodape {
    width: 100%;              
    left: 0;                  
    right: 0;  
    padding: 1.5rem;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

@media (max-width: 800px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 10%;
        justify-content: center;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__conteudo {
        margin: auto;
        padding: auto;
    }

    .apresentacao__conteudo__titulo {
        text-align: center;
    }
    
}